body {
  font-family: century gothic;
  margin: 0;
}

.about-section{
  
  width: auto;
    height: auto;
}
.navbar{
  width: 100%;
  
  background-position: center;
  background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
  height: 100vh;

}
.navbar{
  width: 1200px;
  height: 75px;
  margin: auto;
}

.icon{
  width: 200px;
  float: left;
  height: 70px;
}

.logo{
  color: #bff900;
  font-size: 35px;
  font-family: Arial;
  padding-left: 20px;
  float: left;
  padding-top: 10px;
  margin-top: 5px
}

.menu{
  width: 400px;
  float: left;
  height: 70px;
}

ul{
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li{
  list-style: none;
  margin-left: 62px;
  margin-top: 27px;
  font-size: 14px;
}

ul li a{
  text-decoration: none;
  color: #fff;
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

ul li a:hover{
  color: #bff900;
}

html {
  box-sizing: border-box;
}

.abt{
  color: #bff900;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
  color:rgb(176, 20, 20);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  background-color: indi;
  color:white;
  border-radius: 30px;
}

.about-section {
  padding: 50px;
  text-align: center;
  
  color: white;
}

.container {
  padding: 0 16px;
color:white;
}


.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
  color:white;
}

.title {
  color: rgb(130, 196, 24);
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: rgb(242, 245, 243);
  background-color:  #0e88ec;
  text-align: center;
  cursor: pointer;
  width: 100%;
  border-radius: 20px;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
 .mainu{
  width:100%;
  background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%);
 background-position: center;
  background-size:cover;
  height:109vh;
}
